<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Moritz Wilhelm; Daniel Emmel">
    <title>Official Speedwagon Foundation Shop</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
            integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
            integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
            crossorigin="anonymous"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light border">
    <a class="navbar-brand">SFS</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        {% if not user.is_authenticated %}
            <ul class="navbar-nav mr-auto">
                <li class="nav-item{% if 'login' in request.path %} active{% endif %}">
                    <a class="nav-link" href="{% url 'accounts:login' %}">
                        Login
                    </a>
                </li>
                <li class="nav-item {% if 'registration' in request.path %} active{% endif %}">
                    <a class="nav-link" href="{% url 'accounts:registration' %}">
                        Registration
                    </a>
                </li>
            </ul>
        {% else %}
            <ul class="navbar-nav mr-auto">
                <li class="nav-item{% if 'index' in request.path %} active{% endif %}">
                    <a class="nav-link" href="{% url 'accounts:index' %}">
                        Home
                    </a>
                </li>
            </ul>
            <form action="{% url 'accounts:logout' %}" method="post">
                {% csrf_token %}
                <button type="submit" class="btn">Logout</button>
            </form>
        {% endif %}
    </div>
</nav>
<br>
<div class="container-fluid">
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
                {{ message|linebreaksbr }}
            </div>
        {% endfor %}
    {% endif %}
    {% block content %}
    {% endblock %}
</div>
</body>
</html>