{% extends 'base.html' %}
{% block content %}

    {% load colorful_style %}

    <form id="login" action="{% url 'accounts:login' %}" method="POST">
        {% csrf_token %}
        <div class="form-group">
            {% if form.username.errors %}
                <div class="alert alert-danger">
                    {{ form.username.errors }}
                </div>
            {% endif %}
            {{ form.username.label_tag }}
            {{ form.username.help_text }}
            {{ form.username }}
        </div>
        <div class="form-group">
            {% if form.password.errors %}
                <div class="alert alert-danger">
                    {{ form.password.errors }}
                </div>
            {% endif %}
            {{ form.password.label_tag }}
            {{ form.password.help_text }}
            {{ form.password }}
        </div>

        {% if form.non_field_errors %}
            <div class="alert alert-danger">
                {{ form.non_field_errors }}
            </div>
        {% endif %}

        {% if request.GET.next %}
            <input type="hidden" name="next" value="{{ request.GET.next }}">
        {% endif %}

        <button type="submit" class="btn" style="{% colorful_style %}">Submit</button>
        <a class="btn" style="{% colorful_style %}" href="{% url 'accounts:password_forgotten' %}">Forgot password?</a>
    </form>

    <br>

    <div id="signin2"></div>
    <script>
        function onSignIn(googleUser) {
            let xhr = new XMLHttpRequest()
            xhr.open('POST', 'http://localhost:3000/accounts/tokensignin/', true)
            xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded')

            xhr.onreadystatechange = function () {
                if (xhr.readyState === 4) {
                    if (xhr.status === 200)
                        location.href = '/index/'
                    else
                        onFailure()
                }
            }

            let id_token = googleUser.getAuthResponse().id_token
            xhr.send(`id_token=${id_token}&csrfmiddlewaretoken={{csrf_token}}`)
        }


        function onFailure() {
            let warning = $(document.createElement('div'))
            warning.addClass('alert alert-warning')
            warning.text(`Google Sign-In failed. Please try again!`)
            warning.insertBefore($("#login"))
        }

        function renderButton() {
            gapi.signin2.render('signin2', {
                'scope': 'profile email',
                'width': 240,
                'height': 50,
                'longtitle': true,
                'theme': 'dark',
                'onsuccess': onSignIn,
                'onfailure': onFailure
            });
        }
    </script>

    <script src="https://apis.google.com/js/platform.js?onload=renderButton" async defer></script>

{% endblock %}