{% extends 'user_mgmt/base.html' %}
{% block content %}
{% load colorful_style %}

<form action="{% url 'accounts:login' %}" method="POST">
    {% csrf_token %}
    <div class="form-group">
        {% if form.username.errors %}
             <div class="alert alert-danger">
                 {{ form.username.errors }}
            </div>
        {% endif %}
        {{ form.username.label_tag }}
        {{ form.username.help_text }}
        {{ form.username }}
    </div>
    <div class="form-group">
        {% if form.password.errors %}
            <div class="alert alert-danger">
                {{ form.password.errors }}
            </div>
        {% endif %}
        {{ form.password.label_tag }}
        {{ form.password.help_text }}
        {{ form.password }}
    </div>

    {% if form.non_field_errors %}
        <div class="alert alert-danger">
            {{ form.non_field_errors }}
        </div>
    {% endif %}

    {% if request.GET.next %}
        <input type="hidden" name="next" value="{{ request.GET.next }}">
    {% endif %}

    <button type="submit" class="btn" style="{% colorful_style %}">Submit</button>
</form>

{% endblock %}