{% extends 'base.html' %}
{% block content %}

    {% load colorful_style %}

    <form action="{% url 'accounts:password_forgotten' %}" method="post">
        {% csrf_token %}
        <div class="form-group">
            {% if form.username.errors %}
                <div class="alert alert-danger">
                    {{ form.username.errors }}
                </div>
            {% endif %}
            {{ form.username.label_tag }}
            {{ form.username.help_text }}
            {{ form.username }}
        </div>
        <button type="submit" class="btn" style="{% colorful_style %}">Request password reset</button>
    </form>

{% endblock %}